.dark {
	background: #242424;
	color: white;
}

.dark .navbar-container {
	border-color: #4F4F4F;
	background: #303030;
	box-shadow: none;
}

.dark .navbar-logo {
	color: white;
}

.dark .navbar-link {
	color: #aaa;
}

.dark .navbar-content-divider {
	background: #4F4F4F;
}

.dark .active-navbar-link {
	color: #78AEED;
}

.dark .button-theme-toggle {
	color: #ffbe6f;
	background: #ffbe6f33;
}

.dark .button-theme-toggle svg {
	fill: 	#ffbe6f;
}