html {
	width: 100%;
	height: 100%;
	user-select: none;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Segoe UI';
	background: white;
	position: relative;
	transition: background-color .5s ease;
}

.theme-toggle-button {
	position: fixed;
	top: 4px;
	right: 4px;
	border: none;
	background: none;
	padding: 4px;
	cursor: pointer;
	transition: all 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-section {
	display: flex;
	width: fit-content;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 16px;
}

.main-section-header {
	display: flex;
}

.main-section-heading {
	margin: 4px 0;
	font-family: 'JetBrains Mono';
	text-transform: uppercase;
	transition: color .5s ease;
}

.main-section-content {
	margin: 4px 0;
	max-width: 450px;
	text-align: justify;
	color: #444;
}

.footer-section {
	display: flex;
	justify-content: center;
	border-top: 1px solid #d8d8d8;
	position: relative;
	margin-top: auto;
	bottom: 64px;
	box-sizing: border-box;
	width: 100%;
	transition: border-color .5s ease;
}

.footer-ferris-crab {
	position: absolute;
	bottom: -32px;
	cursor: grab;
}

.footer-ferris-crab:active {
	cursor: grabbing;
}

.main-section-links {
	display: flex;
	gap: 32px;
	margin: 16px 0;
}

.main-section-links a {
	text-decoration: none;
	font-family: 'JetBrains Mono';
	font-weight: 500;
}

.section-link {
	color: #4361ee;
	position: relative;
}

.section-link::after {
	content: "↗";
	position: absolute;
	right: -12px;
	top: 0;
	transition: all 0.1s ease;
}

.section-link:hover::after {
	top: -2px;
	right: -14px;
}