html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.container {
	height: 100%;
	max-height: 100vh;
	width: 100%;
}

.section-heading {
	font-size: 24px;
	font-family: 'Barlow';
	font-weight: 500;
}

.section-subtitle {
	font-family: 'Inter';
	font-size: 16px;
}

.subtitle-link {
	color: white;
	text-decoration: none;
}

.subtitle-link::after {
	content: "↗";
	font-family: 'Inter';
}

.section-main {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 16px;
	box-sizing: border-box;
}

.main-title {
	font-family: 'Barlow';
	font-weight: 500;
	font-size: 24px;
	margin: 0;
}

.main-content {
	font-family: 'Inter';
	font-size: 16px;
	max-width: 750px;
	margin: 8px 0;
}

.main-links {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	gap: 16px;
}

.main-link {
	font-family: 'Barlow';
	text-transform: uppercase;
	color: #3B89E3;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
}

.main-link::after {
	content: "↗";
	font-family: 'Inter';
}

.main-link::after:hover {
	color: red;
}

.section-stats {
	background: #3145B8;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10vh;
}

.stats-container {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.09);
	border-left: none;
	border-right: none;
	width: 100%;
	margin-bottom: 10vh;
	border-collapse: collapse;
}

.stats-row {
	display: flex;
	box-sizing: border-box;
}

.stats-box {
	text-align: center;
	padding: 16px 4vw;
	box-sizing: border-box;
	border-right: 1px solid rgba(255, 255, 255, 0.09);
	border-collapse: collapse;
}

.stats-value {
	font-family: 'Barlow';
	font-weight: normal;
	font-size: 4em;
	margin: 0;
}

.stats-title {
	font-family: 'Inter';
	opacity: .5;
}

.stats-box:first-child {
	border-left: none;
}

.stats-box:last-child {
	border-right: none;
}

.stats-row:first-of-type {
	border-right: 1px solid rgba(255, 255, 255, 0.09);
}

@media screen and (max-width: 640px) {
	.stats-container {
		flex-direction: column;
	}

	.stats-row {
		width: 100%;
	}

	.stats-box {
		flex: 1;
	}

	.stats-row:last-of-type {
		border-top: 1px solid rgba(255, 255, 255, 0.09);
	}
}