.dark {
	background: #121212;
}

.dark .theme-toggle-button {
	color: #aaa;
}

.dark .theme-toggle-button svg {
	transform: rotateZ(360deg);
}

.dark .main-section-heading {
	color: white;
}

.dark .main-section-content {
	color: #888;
}

.dark .footer-section {
	border-color: #252525;
}

.dark .section-link {
	color: #4895ef;
}