.dark {
	background: #121212;
}

.dark .theme-toggle-button {
	/* color: white; */
	/* background: lightgray;
	border-color: darkgray; */
}

.dark .main-section-heading {
	color: white;
}

.dark .main-section-content {
	color: #888;
}

.dark .footer-section {
	border-color: #252525;
}