.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, .5fr));
	grid-gap: 16px;
}

.project-section-footer {
	display: block;
	width: 100%;
	text-align: center;
	margin: 8px 0;
	margin-bottom: 0;
}

.divider {
	clear: both;
    border: 0;
    height: 1px;
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 20%, rgba(0,0,0,.2) 80%,rgba(0,0,0,0) 100%);
}

.project-section-footer a {
	text-decoration: none;
	color: #0095f6;
}

.dark .project-section-footer a {
	color: #78aeed;
}

.dark .divider {
	clear: both;
    border: 0;
    height: 1px;
	background-image: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.2) 20%, rgba(255,255,255,.2) 80%,rgba(255,255,255,0) 100%);
}