.tab {
	display: flex;
	gap: 4px;
	padding: 8px;
	opacity: .5;
	z-index: 5;
	position: relative;
	cursor: pointer;
	align-items: center;
}

.active-tab {
	cursor: default;
	opacity: 1.2;
	box-sizing: border-box;
	color: #3584e4;
}

.dark .active-tab {
	color: #78aeed;
}