.md-typeset .grid.stack {
  display: flex;
  flex-direction: column;
}

.md-typeset img {
  border-radius: .1rem;
}

.md-typeset .middle {
  margin-bottom: .1rem;
}

.md-typeset .result {
  font-size: .85em;
  overflow-x: auto;
  scrollbar-width: thin;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

:root {
  --ansi-black: #7f7f7f;
  --ansi-red: #ff7a88;
  --ansi-green: #57bb8a;
  --ansi-yellow: #ff6;
  --ansi-blue: #82b1ff;
  --ansi-magenta: #cd00cd;
  --ansi-cyan: #99bbd7;
  --ansi-gray: #e5e5e5;
  --ansi-bright-green: #0f0;
}
