.md-typeset .result {
  font-size: .85em;
  overflow-x: auto;
  scrollbar-width: thin;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

:root {
  --md-admonition-icon--ai-summary: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14.4 3.419a.639.639 0 0 1 1.2 0l.61 1.668a9.59 9.59 0 0 0 5.703 5.703l1.668.61a.639.639 0 0 1 0 1.2l-1.668.61a9.59 9.59 0 0 0-5.703 5.703l-.61 1.668a.639.639 0 0 1-1.2 0l-.61-1.668a9.59 9.59 0 0 0-5.703-5.703l-1.668-.61a.639.639 0 0 1 0-1.2l1.668-.61a9.59 9.59 0 0 0 5.703-5.703zM8 16.675a.266.266 0 0 1 .5 0l.254.694a4 4 0 0 0 2.376 2.377l.695.254a.266.266 0 0 1 0 .5l-.695.254a4 4 0 0 0-2.376 2.377l-.254.694a.266.266 0 0 1-.5 0l-.254-.694a4 4 0 0 0-2.376-2.377l-.695-.254a.266.266 0 0 1 0-.5l.695-.254a4 4 0 0 0 2.376-2.377zM4.2.21a.32.32 0 0 1 .6 0l.305.833a4.8 4.8 0 0 0 2.852 2.852l.833.305a.32.32 0 0 1 0 .6l-.833.305a4.8 4.8 0 0 0-2.852 2.852L4.8 8.79a.32.32 0 0 1-.6 0l-.305-.833a4.8 4.8 0 0 0-2.852-2.852L.21 4.8a.32.32 0 0 1 0-.6l.833-.305a4.8 4.8 0 0 0 2.852-2.852z"/></svg>')
  --ansi-black: #7f7f7f;
  --ansi-red: #ff7a88;
  --ansi-green: #57bb8a;
  --ansi-yellow: #ff6;
  --ansi-blue: #82b1ff;
  --ansi-magenta: #cd00cd;
  --ansi-cyan: #99bbd7;
  --ansi-gray: #e5e5e5;
  --ansi-bright-green: #0f0;
}

.md-typeset .admonition.ai-summary,
.md-typeset details.ai-summary {
  border-color: #7eaaff;
}

.md-typeset .ai-summary>.admonition-title,
.md-typeset .ai-summary>summary {
  background-color: #7eaaff22;
}

.md-typeset .ai-summary>.admonition-title::before,
.md-typeset .ai-summary>summary::before {
  background-color: #7eaaff;
  -webkit-mask-image: var(--md-admonition-icon--ai-summary);
  mask-image: var(--md-admonition-icon--ai-summary);
}

.md-typeset .md-button {
  padding: .4rem 2rem;
}

.md-typeset .md-button--success {
  background-color: #2e7d32;
  border-color: #2e7d32;
  color: var(--md-primary-bg-color);
}

.md-typeset .md-button--success:hover {
  background-color: #409c47;
  border-color: #409c47;
}